table, .full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.strike {
    text-decoration: line-through;
}

/* form {
    background-color: cornflowerblue;
} */

td {
    text-align: center;
}